
        
        
        header{
            width: 100%;
            background-color:#632db956;
            display:inline-block;
            border-radius: 5px;
            

        }
        
        body {
            background: url(images/buceo.jpg) no-repeat center center fixed;
            background-size: auto;
            -moz-background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
        }

        h1 {
            font-size: 52px;
            color: rgba(255, 255, 255, 0.849);
            text-align: center;
        }
        table {
            margin-left: auto;
            margin-right: auto;
        }
        a {
            font-size: 18px;
            text-decoration: none;
            }

        .contenedor_foot { 
            padding-top: 5px;          
            background-color:#bbc1d188;
            display: flex;         
            border-radius: 5px;
            border: 3px;
            border-color: aqua;
        }

        .contenedor_icons {
            padding-right: 8px;
            display: flex;
            justify-content: flex-end;
        }

        contenedor_firma {
           align-items: flex-start;
            
        }

        .contenedor_foot div {
            width: 100%;
            min-height: 60px;
            height:auto;
            
        }
        
        .icons_footer {
            padding-left: 8px;
        }
        
        .icons_footer :hover{
            width: 22px;
            height: 22px;
                 
        }
        
       /* las cosas dentro del IFRAME*/ 
        .contenedor {
            box-align: center;
            border: transparent;
        }  
       .contenedor iframe {
           border: transparent;
           width: 100%;
           height: 600px;
           visibility: hidden;
       }         

       /*EOF las cosas dentro del IFRAME*/ 

       /*Comienza menu desplegable*/
       
        ul, ol {
            list-style:none;
            
        }        
        .nav {
           
            margin:0 auto; 
          
        }
        .nav > li {
            float:left;
           
        }        
        .nav li b {
            background-color:rgba(23, 18, 90, 0.938);
            color:#fff;
            padding:6px 10px;
            display:block; 
           
        }        
        .nav li b:hover {
            background-color:#372db9cc;
            cursor: pointer;
            border-radius: 15px;
        }        
        .nav li ul {
            display:none;
            position:absolute;
            min-width:140px;
        }        
        .nav li:hover > ul {
            display:block;
        }        
        .nav li ul li {
            position:relative;
        }
        /*Termina menu desplegable*/