* {
  box-sizing: content-box;

  margin: 0;
  padding: 0;
  display: inline-flexbox;
}
nav {
  width: 100%;
  background-color: chocolate;
}
main {
  width: 100%;
  background-color: darkblue;
  display: flex;
}
aside {
  min-width: 40%;
  background-color: darkgreen;
}
.contenedor {
  min-width: 60%;
}
